<ion-view class="view-with-bg1" style="" id="alphabetLanding" title="Alphabetastic">
    <ion-content class="has-header view-content" padding="true">


 

  <div class="toPoem">
    <span ui-sref="poem"> </span>
    <br><br><br>
    <a class=" button btn" id="poem_button" ui-sref="poem"> {{title}}</a>
    
  </div>
 		  
<div class="row">
  <div class="col glossary">
  		<img ng-src="{{getURL()}}" ui-sref="animalGlossary">
  		<a class="button btn" id="animal_button" ui-sref="animalGlossary">Learn About Mammals</a>
  </div>
  <div class="col glossary">
      <img src="img/glos.png" ui-sref="wordsGlossary">
      <a class="button btn" id="animal_button" ui-sref="wordsGlossary">Difficult Words Explained</a>
  </div>
  
</div>


 

</ion-content>
</ion-view>