  
<ion-view style="" id="alphabets" title="alphabets">
    <ion-content class="has-header" padding="true">

	   
<div  ng-repeat="item in alphabets" ng-click="getPlaylist(item)" class="button-bar button-bar-inline">
  <a class="button alpha-button" ng-style="{'background-color': getRandomColor() }" >{{item}}</a>
  
</div>


<div class="row responsive-sm" style="display:inline-block">
  <div class="col"  ng-click="getPlaylist(item)">{{item}}</div>
  
</div>
           
   
</ion-content>
</ion-view>