<ion-view class="view-with-bg" style="" id="alphabetLanding" title="Alphabetastic">
    <ion-content class="has-header view-content" padding="true">


 

  <div class="toPoem">
    <img src="img/Armadillo.png">
    
    <a class=" button button-dark button-block  button-outlined " id="continue_button" ui-sref="poem">Poem:    Adabadaba The Armadillo</a>
    
  </div>
 		  
<div class="row">
  <div class="col glossary">
  		
  		<h4>Animal Glossary</h4>
  </div>
  <div class="col glossary">
  		<img src="img/glos.png">
  		<h4>Difficult Words Glossary</h4>
  </div>
  
</div>


 

</ion-content>
</ion-view>