<ion-view class="view-with-bg" style="" id="alphabetLanding" title="Alphabetastic">
    <ion-content class="has-header view-content" padding="true">


 

  <div class="toPoem">
    <img src="img/Armadillo.png" ui-sref="poem">
    
    <a class=" button btn" id="poem_button" ui-sref="poem">Read The Poem</a>
    
  </div>
 		  
<div class="row">
  <div class="col glossary">
  		<img src="img/Armadillo.png" ui-sref="animalGlossary">
  		<a class="button btn" id="animal_button" ui-sref="animalGlossary">Learn About Mammals</a>
  </div>
  <div class="col glossary">
      <img src="img/glos.png" ui-sref="animalGlossary">
      <a class="button btn" id="animal_button" ui-sref="wordsGlossary">Difficult Words Glossary</a>
  </div>
  
</div>


 

</ion-content>
</ion-view>