<ion-view class="view-with-bg" style="" id="animalGlossary" title="Animals Glossary">
    <ion-content class="has-header view-content" padding="true">



<ion-slide-box> 

  <ion-slide ng-repeat="animal in animals track by $index" ng-init=updateSlider() >

         <div class="list card">

            <div class="item item-avatar" >
              <h1>{{animal.name}}</h1>
              
            </div>

            <div class="item item-body">
              <img class="full-image" src="{{animal.url}}">
              <p>
                {{animal.desc}}
              </p>
             
            </div>

         </div>

  </ion-slide>
</ion-slide-box>




</ion-content>
</ion-view>