<ion-view style="" class="login-with-bg" id="forgot" title="Alphabetastic">
    <ion-content class="has-header view-content" scroll="false" padding="true">
        <form class="list" ng-submit=recover() id="forgot-form1" novalidate>
            <ion-list id="login-list1">
               
                <label id="login-input2" class="item item-input ">
                    <span class="input-label">Registered Email</span>
                    <input  type="email" name="email" ng-model="data.email" placeholder="Enter Registered Email Ids" required>
                </label>
                

            </ion-list> 
            <div style="height: 40px;" class="spacer"></div>
            <input  class=" button button-block  button-dark" id="login-button1" type="Submit" value="Recover Password">
           
        </form>
    </ion-content>
</ion-view>