<ion-view class="page1-with-bg" style="" id="page1" title="Alphabetastic">
    <ion-content scroll="true" class="has-header view-content" padding="true">
      
        <div class="intro-box">
        	<img class="logo" src="img/logo.png"> 
            <p class="introduction">
               Hi there, we’re excited, happy and pleased, 
                <br>To join you on this journey of A to Zees.
                <br>We will make you read and learn in a way that’s fun,
                <br>As you learn about everything alphabetic under the sun.
                <br>Think of us as your new encyclopedic best friend forever,
              <br>  As we help you become witty, retentive and clever!
            </p>

           <p class="intro-text"> Welcome to Alphabetastic, a mobile app that’s home to everything alphabetic and fantastic! We begin our journey with mammals and will soon be adding footprints of everything that we can classify in an A to Z format such as birds, insects, colors, space, sports and more…<br>
Visit us at <a target="_blank" href="http://www.alphabetastic.com">www.alphabetastic.com</a> <br>
</p>

        </div> 
        
        Copyright © Smoking Mirror Media Private Limited, 2016

    </ion-content>
    <a class=" button button-positive  button-block icon button-continue" id="kidsApp-button4" ui-sref="login">Continue</a>
