<ion-view class="page1-with-bg" style="" id="page1" title="Alphabetastic">
    <ion-content scroll="true" class="has-header view-content" padding="true">
        <div class="intro-box">
            <p>
                Welcome to Alphabetastic. 
                <br>Learn with rhymes! Tap continue to get on with it!
                <br>
                <br>
                <br>
            </p>
        </div>
        
        <a class=" button button-positive  button-block icon " id="kidsApp-button4" ui-sref="login">Continue</a>
    </ion-content>
</ion-view>