<ion-view style="" id="page1" title="Kids App">
    <ion-content class="has-header" padding="true">
        <div style="">
            <p>
                Welcome to the amazing kids application! Tap continue to get on with it!
                <br>
                <br>
                <br>
            </p>
        </div>
        <div style="width: 283px; height: 270px;" class="spacer"></div>
        <a class=" button button-positive  button-block icon ion-android-checkbox " id="kidsApp-button4" ui-sref="login">Continue</a>
    </ion-content>
</ion-view>