<ion-view style="" class="login-with-bg" id="login" title="Login">
    <ion-content class="has-header view-content" scroll="false" padding="true">
        <form class="list" ng-submit=submit() id="login-form1" novalidate>
            <ion-list id="login-list1">
                <label id="login-input1" class="item item-input ">
                    <span class="input-label">Username</span>
                    <input class="trans-input" type="text" name="uname" ng-model="data.uname"  placeholder="Enter Username" ng-minlength="5" required >
                </label>
                <label id="login-input2" class="item item-input ">
                    <span class="input-label">Password</span>
                    <input  type="password" name="pwd" ng-model="data.pwd" placeholder="Enter Password" ng-minlength="5" required>
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <input  class=" button button-block  button-dark" id="login-button1" type="Submit" value="Login">
            <a class=" button button-royal  button-block button-outlined " id="login-button2" ui-sref="signup">Or create an account</a>
        </form>
    </ion-content>
</ion-view>