<ion-view style="" class="alphabets-with-bg" id="payments" title="Alphabetastic">
    <ion-content class="has-header view-content" scroll="false" padding="true">
        
            <div class="list card">

             
              <p class="item item-body">Hi,<br> Please make a payment of Rs. 99/- only,  to access all the mammals. Click the "Continue to Payment" button to go to the payment gateway, you can choose your desired mode of payment on the payment gateway page.</p2>
              
            

        </div>
             <button class = "button button-block button-dark" ng-click = "toPayment()">Continue to Payment</button>
               <br><p class="payment-or-back" >OR</p>

             <button class = "button button-block button-dark" ui-sref="alphabets" >Back to Alphabets</button>
              
        
    </ion-content>
</ion-view>