  
<ion-view style="" id="poem" title="Alphabetastic">
    <ion-content scroll="true" class="has-header" padding="true">
  

 <ion-slide-box> 

  <ion-slide ng-repeat="item in poem" ng-init=updateSlider() >
   <div class="poem-box "> <pre> <div ng-bind-html="item"></div> </pre></div>
  </ion-slide>
</ion-slide-box>

<ion-slide-box>
  <ion-slide ng-repeat="animal in animals" ng-init=updateSlider()>
   
   <div class="animal-box"> <img src="{{animal.url}}" ui-sref="animalGlossary" style="max-height:130px; max-width:150px;"> <span class="animal_name"><h3>{{animal.name}}</h3> </span></div>
  </ion-slide>
</ion-slide-box>

	
</ion-content>
</ion-view>