<ion-view style="" id="signup" title="Signup">
    <ion-content class="has-header" padding="true">
        <form class="list" name="signupForm"  ng-submit="submitSignup()" id="signup-form2" novalidate>
            <ion-list id="signup-list">
                <label id="signup-input3"  class="item item-input ">
                    <span class="input-label">Name</span>
                    <input placeholder="" name="name1" ng-model="user.name1" ng-minlength="5" type="text" required>
                </label>
                <label id="signup-input4"  class="item item-input ">
                    <span class="input-label">Username</span>
                    <input placeholder="" name="username" ng-model="user.username" ng-minlength="5" type="text" required>
                </label> 
                <label id="signup-input5"  class="item item-input ">
                    <span class="input-label">Password</span>
                    <input placeholder="" name="password" ng-model="user.password" ng-minlength="5" type="password" required>
                </label>
                <label id="signup-input55"  class="item item-input ">
                    <span class="input-label">Confirm Password</span>
                    <input placeholder="" name="password2" ng-model="user.password2" ng-minlength="5" type="password" required>
                </label>
                <label id="signup-input6"  class="item item-input ">
                    <span class="input-label">Email</span>
                    <input placeholder="" name="email" ng-model="user.email" type="email" required>
                </label> 
                <label id="signup-input7"  class="item item-input ">
                    <span class="input-label">Phone Number</span>
                    <input placeholder="" name="phone" ng-model="user.phone" type="text" required>
                </label>
                <div class="padding">
             <p class="signuperror" ng-show="signupForm.name1.$error.required signupForm.name1.$error.minlength signupForm.username.$error.required signupForm.password.$error.required signupForm.password2.$error.required signupForm.email.$error.required signupForm.phone.$error.required">* All Fields are required and must be longer than 5 characters.</p>
             
            
        </div>
            </ion-list>
             <input  class=" button button-block  button-dark" id="signup-button"  type="Submit" value="Signup">
              <p class="signup-existing-user">Already a user?</p>
             <input  class=" button button-block  button-dark" id="signup-button"  type="Submit" value="Login Here" ui-sref="login">
        </form>
    </ion-content>
</ion-view>