<ion-view class="page1-with-bg" style="" id="tnc" title="Alphabetastic">
    <ion-content scroll="true" class="has-header view-content" padding="true">
      
        <div class="intro-box">
        	
            <p class="intro-text"> 
               <h2 >TERMS & CONDITIONS</h2>
This document explains our privacy and refund practices for all Alphabetastic applications available on different platforms. Please read the following to learn more about our privacy policy and how we treat personally identifiable information collected from our users. By accepting the Terms & Conditions at the registration process and by visiting the site and using the applications, you have expressly consented to our use and disclosure of your personal information in accordance with this document.
<h4>INFORMATION COLLECTED AND RECEIVED</h4>
We collect the data related to profiling of different parts of the application. This data is used for further enhancement of the application and solely used by us. This data collected is analyzed in an aggregated form and may be used to further our new application and updates. We do not disclose any personal information to any third party.
<h4>PURCHASING</h4>
The Alphabetastic applications offers in-app purchases for the parents which are guarded behind parents control available to parents in the app. <br>
We are providing you an ad-free application with no external third part links – A, B & C are free for you to enjoy and to further decide whether you’d like to buy the application for a mere Rs. 99 for the alphabets D to Z. 
Upon purchase, you shall receive a confirmation e-mail from Alphabetastic mentioning your unique Atom (the payment gateway’s) transaction ID as well as merchant transaction ID – this is your invoice – kindly keep it safe for this will hel resolve in doubts, disputes or erroneous payments.<br>
Since this is a digital product, we do not offer refunds. If however you have received a broken link or are having problems with the application, kindly send us an e-mail at <span ng-click="toEmail()" class="outside-web-link">info@alphabetastic.com</span> with snapshots of the broken link and we’ll fix the problem at our earliest, within 7-10 working days. 
Incase you have made a repeat payment, please write to us at <span ng-click="toEmail()" class="outside-web-link">info@alphabetastic.com</span> with both the invoices and we shall initiate a refund for one of the payments. 
We use a secured and trusted payment gateway for all credit card & banking transactions that protects the credit card & banking information of our clients. 
<h4>SOCIAL MEDIA & INTERNET</h4>
The Alphabetastic application does not integrate any of the social media such as Twitter, Facebook or other online services. We do have links to the same on our website. Alphabetastic applications do not link to any third party application or any other external weblinks / ads on the application. We may do so on our website.
<h4>ADVERTISING</h4>
Out free app (alphabet A to C) has no advertisement. We encourage parents to upgrade to complete or pro versions to simply add to their and their children’s repertoire of knowledge by buying the alphabets D to Z. 
<h4>LOCATION</h4>
We do not use or collect your precise geographic location.

            </p>

           
Visit us at <a target="_blank" href="http://www.alphabetastic.com">www.alphabetastic.com</a> <br>
</p>

        </div> 
        
        

    </ion-content>