.view-with-bg{
  .view-content {
    background-image: url('../img/Back/j2.jpg');
    background-size: cover;
  }
}

.page1-with-bg{
  .view-content {
    background-image: url('../img/Back/j2.jpg');
    background-size: cover;
  }
}


.login-with-bg{
  .view-content {
    background-image: url('../img/Back/Green.png');
    background-size: cover;
  }
}
