.view-with-bg{
  .view-content {
    background-image: url('../img/Back/j2.jpg');
    background-size: cover;
  }
}

.page1-with-bg{
  .view-content {
    background-image: url('../img/Back/j1.jpg');
    background-size: cover;
  }
}


 .button-continue
 {
 position: absolute;
 bottom: 20px;
 width:100%;
 }