

.alphabets-with-bg{ 
  .view-content {
    background-image: url('../img/Back/j2.jpg');
    background-size: cover;
  }
}

.button-bar.button-bar-inline:before, .button-bar.button-bar-inline:after 
{
     display: inline !important;
      content: "";
      line-height: 0px; 
}


.alpha-button
{
  
    background-image: url('../img/alpha_btn.png');
    background-color: transparent !important;
    color: #000205;
    border-radius: 51px !important;
    font-family: Georgia;
    font-size: 39px;
    margin: 4px;
    padding: 15px 15px !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 3px #000;
    width: 80px !important;
    background-repeat: no-repeat;
    border-style: none !important;
}

@media only screen  and (max-width: 438px) 
{

    .alpha-button
    {
      background-image: url('../img/alpha_btn_sml.png');
      margin: 2px;
      font-size: 175%;
      padding: 11px 13px 15px 0 !important;
     
      }
}

@media only screen  and (min-width: 439px) and  (max-width: 495px)
{

    .alpha-button
    {
      background-image: url('../img/alpha_btn.png');
      margin: 7px;
      font-size: 240%;
      padding: 15px 13px 24px !important;
     
      }
}

@media only screen  and (min-width: 496px) and  (max-width: 727px)
{

    .alpha-button
    {
      background-image: url('../img/alpha_btn_lrg.png');
      margin: 7px;
      font-size: 290%;
      padding: 24px 13px 24px 11px !important;
      box-sizing: content-box;
     
      }
}


@media only screen  and (min-width: 728px) and  (max-width: 787px)
{

    .alpha-button
    {
      background-image: url('../img/alpha_btn_xl.png');
      margin: 15px;
      font-size: 350%;
        padding: 32px 13px 40px 17px !important;
      box-sizing: content-box;
     
      }
}

@media only screen  and (min-width: 788px) 
{

    .alpha-button
    {
      background-image: url('../img/alpha_btn_xxl.png');
      margin: 22px;
      font-size: 399%;
        padding: 38px 33px 41px 27px !important;
      box-sizing: content-box;
     
      }
}