.alpha-button
{
	
  background-image: url('../img/alpha_btn.png');
  background-color: transparent !important;
    color: #000205;
     border-radius: 51px !important;
    font-family: Georgia;
    font-size: 39px;
    margin: 4px;
    padding: 15px 15px !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 8px #417fab;
     width: 80px !important;
     background-repeat: no-repeat;
     border-style: none !important;
}

.alphabets-with-bg{
  .view-content {
    background-image: url('../img/Back/j2.jpg');
    background-size: cover;
  }
}

.button-bar.button-bar-inline:before, .button-bar.button-bar-inline:after 
{
     display: inline !important;
      content: "";
      line-height: 0px; 
}