.trans-input
{
	opacity: 0.8;
}

.login-with-bg{
  .view-content {
    background-image: url('../img/Back/bk1.jpg');
    background-size: cover;
  }
}

.forgot
{
	text-align:right;
	margin-top: 15px;
}