.signuperror
{
	color: #04346b;
    display: table;
    font-size: 16px;
    max-width: 300px;
    padding: 0px 10px 0px 0px;
    width:72%;
}

.signup-existing-user
{
	color: #04346b;
    display: table;
    font-size: 18px;

    padding: 10px 10px 0px 0px;
    width:100%;
    text-align:center;
}